html {
  font: normal normal normal 1rem/1.6 -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
  display: grid;
  grid-gap: 0em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 50vh;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";

}

a {
  text-decoration: none;
  color: darkblue;
}
img {
  display: inline;
  /* position: relative; */

}
footer {
  color: gray;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.3;
  color: #111;
  /* text-rendering: optimizeLegibility; */
}

@media (min-width: 40em) {
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto 1fr auto;
  }

  header {
    grid-column: span 2;
  }

  nav {
    grid-row: span 2;
  }

  footer {
    grid-column: span 3;
  }
}

body {
  grid-template-areas:
  'banner'
  'nav'
  'main'
  'footer'
  ;
}

@media (min-width: 40em) {
  body {
    grid-template-areas:
      'banner banner'
      'nav main'
      'nav footer'
    ;
  }
}

header {
  grid-area: banner;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
